<div class="modal-header alert alert-info">
    <button type="button" class="close" ng-click="FnCloseModal()" aria-hidden="true">&times;</button>
    <h4>Thêm tài khoản mới</h4>
</div>
<div class="modal-body">
    <form name="form">
        <div class="row padding-10">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Họ Tên<span class="span-red-star">*</span></label>
                    <input class="form-control" placeholder="họ và tên" ng-model="user.FullName" name="fullname" required>
                    <p class="help-block"></p>
                </div>
                <div class="form-group">
                    <label>Tên đăng nhập<span class="span-red-star">*</span></label>
                    <input class="form-control" placeholder="Tên đăng nhập" ng-model="user.UserName" name="username" required>
                    <p class="help-block"></p>
                </div>                
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row"><label>Ảnh đại diện</label></div>
                    <div class="row">
                        <div class="btn btn-primary" ngf-select ng-model="fileImage" name="file" ngf-pattern="'image/*'"
                             ngf-accept="'image/*'" ngf-max-size="20MB">Chọn ảnh</div>
                    </div>
                    <div class="row">
                        <img ngf-src="fileImage" class="img-avatar" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row padding-10">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Email<span class="span-red-star">*</span></label>
                    <input class="form-control" placeholder="email" ng-model="user.Email" name="email" required>
                    <p class="help-block"></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Số ĐT<span class="span-red-star">*</span></label>
                    <input class="form-control" placeholder="phone number" ng-model="user.PhoneNumber" name="phonenumber" required>
                    <p class="help-block"></p>
                </div>
            </div>
        </div>
        <div class="row padding-10">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Địa chỉ<span class="span-red-star">*</span></label>
                    <input class="form-control" placeholder="địa chỉ" ng-model="user.Address" name="address" required>
                    <p class="help-block"></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Loại tài khoản</label>
                    <select class="form-control" ng-model="user.RoleID" data-ng-options="item.roleID as item.roleName for item in ListRole" required></select>
                    <p class="help-block"></p>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer alert alert-info">
    <button type="button" class="btn btn-primary" ng-click="FnSave()">Lưu</button>
    <button type="button" class="btn btn-danger" ng-click="FnCloseModal()">Thoát</button>
</div>

<style type="text/css">
    .img-avatar {
        background: grey;
        min-width: 100px;
        min-height: 100px;
        max-height: 300px;
        max-width: 300px;
        display: block;
    }

    .padding-10 {
        padding-left: 10px;
        padding-right: 10px;
    }
</style>